.type1Button{
    -fx-background-radius: 30;
    -fx-background-color: WHITE;
}

.baseButton{
    -fx-background-radius: 10;
    -fx-background-color: #ebebeb;
}

.iconButton{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.sectionOutline{
    -fx-stroke-dash-array: 7;
}

#scrollPane{
    -fx-background-color: transparent;
}

.documentPane{
    -fx-background-color: #f8f8f8; /*f8f8f8*/
}

.pdfDocumentButton:hover{
    -fx-background-color: WHITE;
}

.pdfDocumentButton{
    -fx-background-color: transparent;
}